@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Faces */
@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-VariableFont.ttf') format('truetype');
}

@font-face {
    font-family: 'Cascadia Code';
    font-weight: normal;
    src: url('/fonts/CascadiaCode.woff2') format('woff2');
}

@font-face {
    font-family: 'Cascadia Code';
    font-weight: normal;
    font-style: italic;
    src: url('/fonts/CascadiaCodeItalic.woff2') format('woff2');
}

/* Custom Styles */
@layer components {
    * {
        @apply transition duration-300 ease-in-out delay-100;
    }

    body {
        @apply bg-gray-900 overflow-x-hidden scroll-smooth;
    }

    .nav-link {
        @apply my-auto opacity-80 hover:opacity-100;
    }

    .section-header {
        @apply font-sans font-extrabold text-2xl md:text-4xl text-gray-50 text-left tracking-tight bg-gradient-to-tr from-primary via-gray-50 to-gray-50;
        background: linear-gradient(to top right, #6E2FFF99, #fff0, #fff), linear-gradient(to top left, #6E2FFFBF, #fff, #fff), #F8F5FF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .section {
        @apply overflow-hidden flex w-full py-12 md:py-24;
    }

    .section-container {
        @apply flex max-w-7xl w-full mx-auto;
    }

    .bttn {
        @apply font-sans font-bold text-center whitespace-nowrap;
    }

    .bttn-square {
        @apply rounded-md;
    }

    .bttn-round {
        @apply rounded-full;
    }

    .bttn-outline {
        @apply border-2 rounded-full;
    }

    .bttn-normal {
        @apply px-8 py-3 text-xs;
    }

    .bttn-outline-white {
        @apply border-gray-50 text-gray-50;
    }

    .bttn-white {
        @apply bg-gray-50 text-gray-900;
    }

    .bttn-primary {
        @apply bg-primary text-gray-50;
    }

    .bttn-gradient {
        background: linear-gradient(to top right, #EE2FFF99, #fff0, #fff), linear-gradient(to top left, #6E2FFF99, #fff, #fff), #F8F5FF;
    }

    .bttn-disabled {
        @apply opacity-50 cursor-not-allowed;
    }

    .paragraph {
        @apply font-sans font-normal text-sm md:text-base text-gray-50 opacity-80;
    }

    .glow-text-white {
        background: linear-gradient(to top right, #EE2FFF99, #fff0, #fff), linear-gradient(to top left, #6E2FFF99, #fff, #fff), #F8F5FF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 0 0 72px rgb(219 192 255 / 75%), 0 0 24px rgb(120 65 255 / 24%);
    }

    .editor-sidebar-container {
        @apply w-full flex-col;
    }

    .editor-sidebar-header {
        @apply font-sans font-bold text-sm text-left text-gray-50;
    }

    .suggest-widget {
        display: none !important;
        visibility: hidden !important;
    }

    input::placeholder {
        color: unset;
        opacity: unset;
    }

    .react-markdown {
    }

    .react-markdown p {
        @apply font-sans font-normal text-xs text-gray-50 leading-5;
    }

    .react-markdown h1 {
        @apply font-sans font-extrabold text-2xl text-gray-50 text-left tracking-tight mt-2;
    }

    .react-markdown h2 {
        @apply font-sans font-bold text-xl text-gray-50 text-left tracking-tight mt-2;
    }

    .react-markdown h3 {
        @apply font-sans font-bold text-lg text-gray-50 text-left tracking-tight mt-2;
    }

    .react-markdown h4 {
        @apply font-sans font-bold text-base text-gray-50 text-left tracking-tight mt-2;
    }

    .react-markdown h5 {
        @apply font-sans font-semibold text-xs text-gray-50 text-left mt-1;
    }

    .react-markdown h6 {
        @apply font-sans font-semibold text-2xs text-gray-50 opacity-80 text-left mt-1;
    }

    .react-markdown a {
        @apply font-sans font-normal text-sm md:text-base text-gray-50 underline;
    }

    .react-markdown a:hover {
        @apply no-underline;
    }

    .react-markdown img {
        @apply max-w-full;
    }



}
