@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Faces */
@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-VariableFont.ttf") format("truetype");
}

@font-face {
    font-family: "Cascadia Code";
    font-weight: normal;
    src: url("/fonts/CascadiaCode.woff2") format("woff2");
}

@font-face {
    font-family: "Cascadia Code";
    font-weight: normal;
    font-style: italic;
    src: url("/fonts/CascadiaCodeItalic.woff2") format("woff2");
}

/* Custom Styles */
@layer components {
    * {
        @apply transition delay-100 duration-300 ease-in-out;
    }

    body {
        @apply overflow-x-hidden scroll-smooth bg-gray-900;
    }

    .bg-gradient-multi {
        background: linear-gradient(
                to top right,
                theme(colors.tertiary / 50%),
                theme(colors.gray.50 / 0%),
                theme(colors.gray.50)
            ),
            linear-gradient(
                to top left,
                theme(colors.primary / 50%),
                theme(colors.gray.50),
                theme(colors.gray.50)
            ),
            theme(colors.gray.50);
    }

    .bg-gradient-white {
        background: linear-gradient(
                to top right,
                theme(colors.primary / 75%),
                theme(colors.gray.50 / 0%),
                theme(colors.gray.50)
            ),
            linear-gradient(
                to top left,
                theme(colors.primary / 40%),
                theme(colors.gray.50),
                theme(colors.gray.50)
            ),
            theme(colors.gray.50);
    }

    .nav-link {
        @apply my-auto opacity-80 hover:opacity-100;
    }

    .section-header {
        @apply bg-gradient-white bg-clip-text text-left font-sans text-2xl font-extrabold tracking-tight text-gray-50 text-transparent md:text-4xl;
    }

    .section {
        @apply flex w-full overflow-hidden py-12 md:py-24;
    }

    .section-container {
        @apply mx-auto flex w-full max-w-7xl;
    }

    .bttn {
        @apply whitespace-nowrap text-center font-sans font-bold transition-all;
    }

    .bttn-square {
        @apply rounded-md;
    }

    .bttn-round {
        @apply rounded-full;
    }

    .bttn-outline {
        @apply rounded-full border-2;
    }

    .bttn-normal {
        @apply px-8 py-3 text-xs;
    }

    .bttn-outline-white {
        @apply border-gray-50 text-gray-50;
    }

    .bttn-white {
        @apply bg-gray-50 text-gray-900;
    }

    .bttn-primary {
        @apply bg-primary text-gray-50;
    }

    .bttn-gradient {
        @apply bg-gradient-multi bg-center transition-shadow delay-75 duration-500;
    }

    .bttn-gradient-arrow::after {
        @apply inline-block pl-2 transition-all;
        content: "-->";
    }

    .bttn-gradient-arrow:hover::after {
        @apply pl-3;
    }

    .bttn-gradient:hover {
        background-size: 150% 100%;
    }

    .bttn-disabled {
        @apply cursor-not-allowed opacity-50;
    }

    .box-glow-hover:hover {
        box-shadow: 0 0 18px rgb(219 192 255 / 50%), 0 0 4px rgb(120 65 255 / 12%);
    }

    .paragraph {
        @apply font-sans text-sm font-normal text-gray-50 opacity-80 md:text-base;
    }

    .glow-text-white {
        @apply bg-gradient-multi bg-clip-text text-transparent;
        text-shadow: 0 0 72px rgb(219 192 255 / 75%), 0 0 24px rgb(120 65 255 / 24%);
    }

    .editor-sidebar-container {
        @apply w-full flex-col;
    }

    .editor-sidebar-header {
        @apply text-left font-sans text-sm font-bold text-gray-50;
    }

    .suggest-widget {
        display: none !important;
        visibility: hidden !important;
    }

    input::placeholder {
        color: unset;
        opacity: unset;
    }

    .react-markdown {
    }

    .react-markdown p {
        @apply font-sans text-xs font-normal leading-5 text-gray-50;
    }

    .react-markdown h1 {
        @apply mt-2 text-left font-sans text-2xl font-extrabold tracking-tight text-gray-50;
    }

    .react-markdown h2 {
        @apply mt-2 text-left font-sans text-xl font-bold tracking-tight text-gray-50;
    }

    .react-markdown h3 {
        @apply mt-2 text-left font-sans text-lg font-bold tracking-tight text-gray-50;
    }

    .react-markdown h4 {
        @apply mt-2 text-left font-sans text-base font-bold tracking-tight text-gray-50;
    }

    .react-markdown h5 {
        @apply mt-1 text-left font-sans text-xs font-semibold text-gray-50;
    }

    .react-markdown h6 {
        @apply mt-1 text-left font-sans text-2xs font-semibold text-gray-50 opacity-80;
    }

    .react-markdown a {
        @apply font-sans text-sm font-normal text-gray-50 underline md:text-base;
    }

    .react-markdown a:hover {
        @apply no-underline;
    }

    .react-markdown img {
        @apply max-w-full;
    }

    .blog-content p {
        @apply mb-4 font-sans text-sm font-normal leading-5 text-gray-50 md:mb-6 md:text-base;
    }

    .blog-content h1 {
        @apply bg-gradient-white mt-6 mb-2 bg-clip-text text-left font-sans text-2xl font-extrabold tracking-tight text-gray-50 text-transparent md:text-3xl;
    }

    .blog-content h2 {
        @apply bg-gradient-white mt-4 mb-2 bg-clip-text text-left font-sans text-xl font-bold tracking-tight text-gray-50 text-transparent md:text-2xl;
    }

    .blog-content h3 {
        @apply bg-gradient-white mt-3 mb-2 bg-clip-text text-left font-sans text-lg font-bold tracking-tight text-gray-50 text-transparent md:text-xl;
    }

    .blog-content h4 {
        @apply bg-gradient-white mt-2 mb-2 bg-clip-text text-left font-sans text-base font-bold tracking-tight text-gray-50 text-transparent md:text-lg;
    }

    .blog-content h5 {
        @apply mt-2 mb-2 text-left font-sans text-xs font-extrabold text-gray-50;
    }

    .blog-content h6 {
        @apply mt-2 mb-2 text-left font-sans text-2xs font-semibold text-gray-50 opacity-80;
    }

    .blog-content a {
        @apply font-sans text-sm font-normal text-gray-50 underline md:text-base;
    }

    .blog-content a:hover {
        @apply no-underline;
    }

    .blog-content img {
        @apply max-w-full;
    }

    .blog-content ul {
        @apply mb-4;
    }

    .blog-content li {
        @apply ml-8 mt-2 list-item list-outside list-disc font-sans text-sm font-normal text-gray-50 md:text-base;
    }

    .blog-content code {
        @apply whitespace-pre-wrap rounded-md bg-gray-700 px-2 pt-1 pb-px font-mono text-xs font-normal md:text-sm;
    }

    .blog-content pre {
        @apply whitespace-pre-wrap rounded-md bg-gray-700 px-4 pt-0 pb-4 font-mono text-xs font-normal ring-1 ring-gray-500 ring-opacity-40 md:text-sm;
    }
}
